*.o
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile*
.ninja_deps
.ninja_log
build.ninja
*.vcxproj
*.vcxproj.filters
*.dir/
build/
Debug/
Win32/
include/
*.lib
*.ilk
*.pdb
/*.sln
/blackbox
/bridges
/cube
/dominosa
/dominosasolver
/fifteen
/fifteensolver
/filling
/fillingsolver
/flip
/flood
/galaxies
/galaxiespicture
/galaxiessolver
/guess
/inertia
/keen
/keensolver
/latincheck
/lightup
/lightupsolver
/loopy
/loopysolver
/magnets
/magnetssolver
/map
/mapsolver
/matching
/mines
/mineobfusc
/mosaic
/net
/netslide
/nullgame
/numgame
/obfusc
/palisade
/path
/pattern
/patternpicture
/patternsolver
/pearl
/pearlbench
/pearlsolver
/pegs
/range
/rect
/samegame
/separate
/signpost
/signpostsolver
/singles
/singlessolver
/sixteen
/slant
/slantsolver
/slide
/slidesolver
/sokoban
/solo
/solosolver
/tents
/tentssolver
/tracks
/trackssolver
/towers
/towerssolver
/twiddle
/undead
/unequal
/unequalsolver
/unruly
/unrulysolver
/untangle
/*.exe
/*.obj
/*.map
/*.rsp
/*notes
/HACKING
/*.hlp
/*.cnt
/*.chm
/*.gid
/*.GID
/*.html
/*.mips
/*.class
/*.jar
/applet.manifest
/puzzles.txt
/*.app
/*.dmg
/*.res
/*.inf
/gamedesc.txt
/build.log
/build.out
/org
/*.ppc
/*.i386
/*.x86_64
/Puzzles.ppc.bin
/Puzzles.i386.bin
/Puzzles.x86_64.bin
/version2.def
/preprocessed.but
/*.a
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/empty.h
/install-sh
/missing
/compile
/.deps
/.dirstamp
/icons/*.png
/icons/*.ico
/icons/*.rc
/icons/*-icon.c
/icons/*-icon-maker
/icons/.deps
/icons/.dirstamp
/unfinished/divvy
/unfinished/group
/unfinished/groupsolver
/unfinished/numgame
/unfinished/path
/unfinished/pearl
/unfinished/separate
/unfinished/slide
/unfinished/slidesolver
/unfinished/sokoban
/unfinished/*.exe
/*.desktop
||||||| b24d1b0
#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
CMakeFiles
cmake_install.cmake
Makefile*

abcdsolver
ascentsolver
boatssolver
brickssolver
crossingsolver
saladsolver
seismicsolver
spokessolver
stickssolver
